<h1>Song Form</h1>
<%= form_for(@song) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>
  <label>Genre ID:</label><br>
  <%= f.text_field :genre_id %><br>
  <label>Artist ID:</label><br>
  <%= f.text_field :artist_id %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit "Update Song" %>
<% end %>